lsfunctions.py
.DS_Store
terraform/provider/.terraform.lock.hcl
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/LICENSE.txt
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/terraform-provider-external_v2.3.5_x5
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/3.1.0/darwin_arm64/LICENSE.txt
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/3.1.0/darwin_arm64/terraform-provider-kubernetes_v3.1.0_x5
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/local/2.9.0/darwin_arm64/LICENSE.txt
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/local/2.9.0/darwin_arm64/terraform-provider-local_v2.9.0_x5
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/LICENSE.txt
terraform/provider/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null_v3.2.4_x5
terraform/provider/.terraform/providers/registry.terraform.io/vmware/nsxt/3.11.1/darwin_arm64/CHANGELOG.md
terraform/provider/.terraform/providers/registry.terraform.io/vmware/nsxt/3.11.1/darwin_arm64/LICENSE
terraform/provider/.terraform/providers/registry.terraform.io/vmware/nsxt/3.11.1/darwin_arm64/README.md
terraform/provider/.terraform/providers/registry.terraform.io/vmware/nsxt/3.11.1/darwin_arm64/terraform-provider-nsxt_v3.11.1
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcf/0.17.2/darwin_arm64/CHANGELOG.md
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcf/0.17.2/darwin_arm64/LICENSE
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcf/0.17.2/darwin_arm64/README.md
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcf/0.17.2/darwin_arm64/terraform-provider-vcf_v0.17.2
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcfa/1.1.0/darwin_arm64/CHANGELOG.md
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcfa/1.1.0/darwin_arm64/LICENSE
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcfa/1.1.0/darwin_arm64/README.md
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vcfa/1.1.0/darwin_arm64/terraform-provider-vcfa_v1.1.0
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vra/0.17.2/darwin_arm64/LICENSE
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vra/0.17.2/darwin_arm64/README.md
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vra/0.17.2/darwin_arm64/terraform-provider-vra_v0.17.2
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vsphere/2.0.2/darwin_arm64/terraform-provider-vsphere_v2.0.2
terraform/provider/.terraform/providers/registry.terraform.io/vmware/vsphere/2.0.2/darwin_arm64/terraform-registry-manifest.json
